@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(https://4kwallpapers.com/images/wallpapers/eat-sleep-code-repeat-black-background-programmer-quotes-2560x2560-5947.png);
    background-repeat: no-repeat;
    
}

section .image{
    display: flex;
    justify-content: center;
    
}

img{
    width: 320px;
    height: 290px;
    border-radius: 50%;
    border:  purple;
}

section{
    text-align: center;
    padding-top: 0.6rem;
    color: white;
    font-size: 1.3rem;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
}

.btn-group{
    display: flex;
    justify-content: center;
    padding: 0 25px;

}

@media (max-width: 768px){
    section .image{
        display: flex;
        justify-content: center;
        width: 300px;
        height: 270px;
    }

    .titulo, .par1, .par2{
        font-size: 1.2rem;
        padding: 2px 7px;
        
    }

    .btn-group{
        padding: 7px 25px;
    }
    
}

@media (max-width: 372px){
    .btn-group{
        padding: 7px 15px;
    }
}